APPWRITE_RUNTIME_API_KEY=""
APPWRITE_SETUP_API_KEY=""
COLLECTOR_SESSION_SECRET=""

APP_BASE_URL="http://localhost:3000"

NEXT_PUBLIC_APPWRITE_ENDPOINT=""
NEXT_PUBLIC_APPWRITE_PROJECT_ID=""
NEXT_PUBLIC_APPWRITE_DATABASE_ID=""
NEXT_PUBLIC_APPWRITE_LENDERS_COLLECTION_ID=""
NEXT_PUBLIC_APPWRITE_BORROWERS_COLLECTION_ID=""
NEXT_PUBLIC_APPWRITE_COLLECTORS_COLLECTION_ID=""
NEXT_PUBLIC_APPWRITE_LOANS_COLLECTION_ID=""
NEXT_PUBLIC_APPWRITE_PAYMENTS_COLLECTION_ID=""

APPWRITE_AUTH_RATE_LIMITS_COLLECTION_ID=""
APPWRITE_SECURITY_EVENTS_COLLECTION_ID=""
APPWRITE_SMS_ACCOUNTS_COLLECTION_ID="sms_accounts"
APPWRITE_SMS_SENDER_REQUESTS_COLLECTION_ID="sms_sender_requests"
APPWRITE_SMS_TEMPLATES_COLLECTION_ID="sms_templates"
APPWRITE_SMS_MONTHLY_USAGE_COLLECTION_ID="sms_monthly_usage"
APPWRITE_SMS_SEND_LOGS_COLLECTION_ID="sms_send_logs"

AUTH_SECURITY_CONTROLS_ENABLED="false"
SECURITY_MONITORING_SECRET=""

TEXTLK_API_TOKEN=""
TEXTLK_API_URL=""

DEMO_LENDER_EMAIL="demo.northstar@mortgagepro.local"
DEMO_LENDER_PASSWORD="DemoPassword123!"
DEMO_SECOND_LENDER_EMAIL="demo.rivercity@mortgagepro.local"
DEMO_SECOND_LENDER_PASSWORD="RiverDemo123!"
DEMO_COLLECTOR_ID="seed_collector_jordan"
DEMO_COLLECTOR_PASSWORD="CollectorPass123!"
DEMO_SECOND_COLLECTOR_ID="seed_collector_maya"
DEMO_SECOND_COLLECTOR_PASSWORD="MayaCollect123!"
